---
title: Styles - Colors
layout: layouts/page.njk
heading: Colors
tags: stylesNav
navTitle: Colors
---

<p>
    OpenBMC GUI color is comprised of different ranges of blue. Any color combination within the 
    palette must comply with at least WCAG AA standard contrast raios. Status cololrs are used to
    specifically focus on the health and status of the system. Use of the status color should be
    consistent where green represents 'Good', yellow represents 'Warning', and red represents
    'Danger'.
</p>

<h2>Base Colors</h2>
<ul class="color-grid">
{% for color in colors.base.blue %}
   <li class="color-grid-item">
        <div class="color-box {{color.name}}" style="background: #{{ color.hex }};">#{{ color.hex}}</div>
        <span>{{ color.name }}</span>
    </li>
{% endfor %}
</ul>

<ul class="color-grid">
{% for color in colors.base.gray %}
   <li class="color-grid-item">
        <div class="color-box {{color.name}}" style="background: #{{ color.hex }};">#{{ color.hex}}</div>
        <span>{{ color.name }}</span>
    </li>
{% endfor %}
</ul> 

<h2>Status Colors</h2>
<ul class="color-grid">
{% for color in colors.status.teal %}
    <li class="color-grid-item">
        <div class="color-box {{color.name}}" style="background: #{{ color.hex }};">#{{ color.hex}}</div>
        <span>{{ color.name }}</span>
    </li>
{% endfor %}
</ul>

<ul class="color-grid">
{% for color in colors.status.green %}
    <li class="color-grid-item">
        <div class="color-box {{color.name}}" style="background: #{{ color.hex }};">#{{ color.hex}}</div>
        <span>{{ color.name }}</span>
    </li>
{% endfor %}
</ul>

<ul class="color-grid">
{% for color in colors.status.yellow %}
    <li class="color-grid-item">
        <div class="color-box {{color.name}}" style="background: #{{ color.hex }};">#{{ color.hex}}</div>
        <span>{{ color.name }}</span>
    </li>
{% endfor %}
</ul>

<ul class="color-grid">
{% for color in colors.status.red %}
    <li class="color-grid-item">
        <div class="color-box {{color.name}}" style="background: #{{ color.hex }};">#{{ color.hex}}</div>
        <span>{{ color.name }}</span>
    </li>
{% endfor %}
</ul>