---
title: Styles - Typography
layout: layouts/page.njk
heading: Typography
tags: stylesNav
navTitle: Typography
---
OpenBMC GUI is using the default system fonts depending on the opearating systems 
and browsers, so it can render appropriate fonts without downloading extra resources.
Sans-serif fonts are used to display static information and dynanic data. 

We recommend using two sizes for body copy. The first is UI specific. To maximize screen
real-estate we chose a smaller 15px/0.875rem body copy size for the standard UI console.
However, for areas that have prolonged reading, like Documentation, we use a larger body
copy size of 16px/1rem to enhance readability.

Line-height, traditionally known as leading, is one of several factors that directly contribute
to readability and pacing of copy. Line-heights are based on teh size of the font itself. Ideal
line-heights for standard copy have a reaio of 1:1.5 (typesize : line-height). For example, a type
at 16px/1rem would have a line-height of 1.5rem/24px (16 x 1.5). The exception to this rule are
headings, which need less spacing and therefore have a line-height ratio of 1:1.25.