<nav class="nav-primary">
    <ul>
        <li {% if page.url == "/" %} class="current" {% endif %}>
            <a href="{{ '/' | url }}">Getting Started</a>
        </li>
        <li>
            <h2>Styles</h2>
            <ul>
            {%- for nav in collections.stylesNav -%}
            	<li class="nav-item{% if nav.url == page.url %} current{% endif %}">
                    <a href="{{ nav.url | url }}">{{ nav.data.navTitle }}</a>
                </li>
            {%- endfor -%}
            </ul>
        </li>
    </ul>
</nav>