.l-grid-main {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 200px 800px;
}

.l-grid-basic {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
    margin: 0;
}

.l-grid-basic li {
    display: block;
    margin-bottom: 2rem;
}
