:root {
    --fw-bold: 700;
    --fw-medium: 500;
    -fw--normal: 400;
    --fw-light: 300;
}

body {
    background: var(--gray-0);
    color: var(--gray-100);
    font: 16px/1.5 helvetica, arial, sans-serif;
}

h1,
.h1 {
    font-size: 2.25rem;
    font-weight: var(--fw-med);
    line-height: 1.25;
}

h2,
.h2 {
    font-size: 1.25rem;
    font-weight: var(--fw-bold);
    line-height: 1.25;
}

h3,
.h3 {
    font-size: 1rem;
    font-weight: var(--fw-bold);
    line-height: 1.25;
}

h4,
.h4 {
    font-size: 0.875rem;
    font-weight: var(--fw-bold);
    line-height: 1.25;
}

h5,
.h5,
h6,
.h6,
.notification {
    font-size: 0.875rem;
    font-weight: var(--fw-medium);
    line-height: 1.25;
}

h5,
.h5 {
    color: var(--gray-80);
}

label,
.label {
    color: var(--gray-80);
    font-size: 0.75rem;
    font-weight: var(--fw-bold);
    line-height: 1.25;
}

.notification {
    line-height: 1.5;
}

.monospace {
    font-family: 'Courier New', monospace;
}
